/* Mobile Styles */
@media only screen and (max-width: 480px) {
    .item-container {
        flex: 100%;
        max-width: 100%;
    }
}
  
/* Tablet Styles */
@media only screen and (min-width: 481px) and (max-width: 960px) {
    body {
        width: 90%;
    }

    .branding {
        font-size: 0.7em;
    }

    .title {
        font-size: 0.85em;
    }
}

@media only screen and (min-width: 961px) and (max-width: 1400px) {
    body {
        width: 80%;
    }
}

@media only screen and (min-width: 1401px) {
    body {
        width: 65%;
    }
}